<md-dialog aria-label="{{ ec.isNew ? 'Create new' : 'Edit' }} {{ec.modelName}}" flex="66">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ ec.isNew ? 'Create new' : 'Edit' }} {{ec.modelName}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ec.toggleShowHiddenFields()">
                <md-tooltip>{{ec.showHiddenFields ? 'hide' : 'show'}} hidden fields</md-tooltip>
                <md-icon ng-if="!ec.showHiddenFields">lock_open</md-icon>
                <md-icon ng-if="ec.showHiddenFields">lock_outline</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="editForm">
        <md-dialog-content>
            <messa-model model="ec.model"
                         paths="ec.schema.paths"
                         show-hidden-fields="ec.showHiddenFields">
            </messa-model>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="ec.save()" class="md-primary" ng-disabled="editForm.$pristine || editForm.$invalid">
                Save
            </md-button>
            <md-button ng-click="ec.delete()" ng-if="!ec.isNew">
                Delete
            </md-button>
            <md-button ng-click="ec.cancel()">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>