<div ng-repeat="(pathName, path) in mc.rootPaths | showHiddenModelFields:mc.showHiddenFields">
    <div ng-switch="path.instance">

        <div ng-switch-when="String">
            <md-select ng-if="path.options.enum"
                       ng-model="mc.model[pathName]"
                       ng-required="path.options.required && path.options.select !== false"
                       aria-label="{{pathName.titleize()}}">
                <md-select-label>
                    {{ pathName.titleize() }} {{ (mc.model[pathName] ? ': ' + mc.model[pathName] : '')}}
                </md-select-label>
                <md-option ng-value="value" ng-repeat="value in path.options.enum">{{ value }}</md-option>
            </md-select>

            <md-input-container ng-if="!path.options.enum">
                <label>{{pathName.titleize()}}</label>

                <input type="text"
                       name="{{path.path}}"
                       ng-model="mc.model[pathName]"
                       ng-required="path.options.required && path.options.select !== false"
                       ng-attr-md-maxlength="path.options.maxlength"
                       ng-attr-md-minlength="path.options.minlength"
                       ng-minlength="path.options.minlength"
                       ng-maxlength="path.options.maxlength">

                <div ng-messages="mc.form[path.path].$error" ng-messages-include="mess-model-messages"></div>
            </md-input-container>
        </div>

        <md-input-container ng-switch-when="Number">
            <label>{{pathName.titleize()}}</label>

            <input type="number"
                   name="{{path.path}}"
                   ng-required="path.options.required && path.options.select !== false"
                   ng-model="mc.model[pathName]">

            <div ng-messages="mc.form[path.path].$error" ng-messages-include="mess-model-messages"></div>
        </md-input-container>

        <md-input-container ng-switch-when="Date">
            <label>{{pathName.titleize()}}</label>
            <input type="date"
                   name="{{path.path}}"
                   ng-required="path.options.required && path.options.select !== false"
                   coerce-date="mc.model,pathName"
                   ng-model="mc.model[pathName]">

            <div ng-messages="mc.form[path.path].$error" ng-messages-include="mess-model-messages"></div>
        </md-input-container>

        <div ng-switch-when="Boolean">
            <md-checkbox ng-model="mc.model[pathName]"
                         name="{{path.path}}"
                         ng-required="path.options.required && path.options.select !== false"
                         aria-label="{{pathName.titleize()}}">
                {{pathName.titleize()}}
                <div ng-messages="mc.form[path.path].$error" ng-messages-include="mess-model-messages"></div>
            </md-checkbox>
        </div>

        <div ng-switch-when="ObjectID">
            <md-input-container ng-if="!path.options.ref">
                <label>{{pathName.titleize()}}</label>

                <input type="text"
                       name="{{path.path}}"
                       object-id
                       ng-model="mc.model[pathName]"
                       ng-required="path.options.required && path.options.select !== false">

                <div ng-messages="mc.form[path.path].$error" ng-messages-include="mess-model-messages"></div>
            </md-input-container>

            <md-select ng-if="path.options.ref"
                       ng-model="mc.model[pathName]"
                       ng-required="path.options.required && path.options.select !== false"
                       md-on-open="mc.loadRef(path.options.ref)"
                       aria-label="{{pathName.titleize()}}">
                <md-select-label>
                    {{ pathName.titleize() }} {{ (mc.model[pathName] ? ': ' + mc.model[pathName] : '')}}
                </md-select-label>
                <md-option ng-value="ref._id"
                           ng-repeat="ref in mc.refs[path.options.ref]">
                    {{ref | json}}
                </md-option>
            </md-select>
        </div>

        <md-input-container ng-switch-when="Mixed">
            <label>{{pathName.titleize()}} <span class="md-caption">(enter valid JSON)</span></label>

            <textarea ng-required="path.options.required && path.options.select !== false"
                      name="{{path.path}}"
                      ng-model="mc.model[pathName]"
                      json>
            </textarea>

            <div ng-messages="mc.form[path.path].$error" ng-messages-include="mess-model-messages"></div>
        </md-input-container>

        <div ng-switch-when="Array">
            <md-input-container
                    ng-if="['String', 'Number', 'Date', 'Boolean', 'ObjectID', 'Mixed'].indexOf(path.caster.instance) !== -1"
                    md-no-float>
                <label>
                    {{pathName.titleize()}}
                    <span class="md-caption">(comma separated list of valid {{path.caster.instance}})</span>
                </label>

                <input type="text"
                       name="{{path.path}}"
                       ng-list
                       ng-model="mc.model[pathName]"
                       ng-required="path.options.required && path.options.select !== false">

                <div ng-messages="mc.form[path.path].$error" ng-messages-include="mess-model-messages"></div>
            </md-input-container>

            <mess-model-array ng-if="!path.caster.instance"
                              model="mc.model[pathName]"
                              root-path-name="pathName"
                              paths="path.schema.paths"
                              show-hidden-fields="mc.showHiddenFields">
            </mess-model-array>

        </div>

        <md-input-container ng-switch-default>
            <label>{{pathName.titleize()}}</label>

            <h3 class="md-title">Cannot handle this field</h3>
        </md-input-container>

    </div>
</div>
<div ng-repeat="(rootPathName, paths) in mc.nestedPaths | showHiddenModelFields:mc.showHiddenFields">
    <h2 class="md-title">{{ rootPathName }}</h2>
    <mess-model-proxy model="mc.model[rootPathName]" paths="paths"
                      show-hidden-fields="mc.showHiddenFields"></mess-model-proxy>
</div>

<script type="text/ng-template" id="mess-model-messages">
    <div ng-message="required">This field is required</div>
    <div ng-message="objectId">This field should contain a valid MongoDB ObjectID</div>
    <div ng-message="json">This field should contain valid JSON</div>
    <div ng-message="date">This field should contain a valid date</div>
    <div ng-message="minlength">This field is too short</div>
    <div ng-message="maxlength">This field is too long</div>
</script>