html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

md-list .selected {
    color: #03a9f4;
}

#grid {
    width: 100%;
    height: 100%;
}